<ion-view view-title="首页" hide-back-buttion="true">
    <ion-content>
        <div class="list">
            <a href="#/reservation" class="item item-icon-left">
                <i class="icon ion-document-text"></i>预定视图
            </a>
            <a href="#/weather" class="item  item-icon-left">
                <i class="icon ion-ios-partlysunny"></i>天气视图
            </a>
            <a href="#/restaurants" class="item item-icon-left">
                <i class="icon ion-fork"></i>餐厅视图
            </a>
        </div>
    </ion-content>
</ion-view>
